<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Any value other than "True" (not case-sensitive) will result in no email being sent-->
    <add key="SendMail" value="True"/>

    <add key ="MailSubject" value=""/>
    <add key ="MailHead" value="Dear ,
         
         "/>
    <add key ="MailFooter" value="Sincerely,
         "/>
    <add key ="MailTo" value=""/>
    <add key ="MailFrom" value=""/>
    <add key ="Password" value=""/>
    <add key ="SMTPHost" value="smtp.gmail.com"/>
    <add key ="Port" value="587"/>
  </appSettings>
</configuration>